
html {
    background: url(../Resources/bluredBG.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.mdl-card > .mdl-card__title {
  color: #fff;
  height: 150px;
  background: url('../Resources/background.jpg') center;
}

#btnLogin, #btnRegister{
    width:100%;
}

.mdl-textfield__label__icon {   
   /*color:#546e7a;*/
   padding-top:20px;
}