
body {
    background: url(../Resources/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-layout__content {
	padding: 24px;
	flex: none;
}

