body {
}

#drawerIcon{
    margin-right: 20px;
}

hr {
    border-color: rgba(0,0,0,0.12);
    margin: 4px 0 3px;
}

#moreMenuIcon{
    vertical-align: middle;
    margin-right: 15px;
}

#demo-menu-lower-right{
    margin-left: 40px;
}

.full-width {
    width: 100%;
}


.content{
    margin: 0 auto;
    /*text-align:center;*/
}


.contentHome .description{
    margin: 5px 0 15px;
    font-size: 20px;
}

.contentHome .box{
    float:left;
    text-align:center;
    margin-top:20px;
}

.contentHome table{
    border:none;
    box-shadow:none;
    margin: 0px auto 20px;
    width: 100%;
}


.contentProposals .mdl-data-table{
    width:100%;
}

.contentProposals h4{
    margin-bottom:0px;
}

.contentProposals table{
    margin-top:28px;
}

.buttons-cell{
    padding-right:13px !important;
}

.content .mdl-layout__header-row{
    padding:0;
}


.proposalForm{
    margin-top:20px;
}

.section{
    cursor:pointer;
    padding-bottom:10px;
    margin-top:30px;
}

.section-data{
    margin-bottom:50px;
}

.sectionTitle{
    vertical-align:middle;
    font-size: 22px;
    margin-left: 7px;
}

.sectionIcon{
    vertical-align:middle;
}

.proposalInput{
    margin: 0 10px 0 10px;
}

.proposalBtns{
    margin: 40px 0 20px 10px;
    float: right;
}

.mdl-textfield__label{
    color: rgb(15, 49, 109);
}

/*mdl-card (optimizirati za mobitele)*/
.mdl-card--horizontal {
    flex-direction: row;
    width: 100%;
    margin-bottom:10px;
    min-height:0;
}
.item .proposalInput{
    flex: auto;
    margin-bottom:0;
}

.section-card{
    padding:15px;
    min-height:10px;
}
.item-card{
    padding:5px 5px 0 5px;
    min-height:10px;
    margin-bottom:10px;
}

.items-data{
    margin-bottom:80px;
}
/*********/

/* total */
.total{
    float:right;
    font-size:16px;
    text-align:right;
    margin:0 10px 20px 0;
}
.total div{
    margin-top:10px;
}


/* settings */
.settings-card{
    float:left;
}

.settings-card .mdl-card__title{
    padding:10px;
}

.settings-card h4{
    font-size:18px;
}


/* Companies */
.companies-card{
    float:left;
}

.companies-card h4{
    font-size:18px;
}
